<main>
    <div class="container">
        <h1>Eventos</h1>
        <div class="events">
            {{#each event}}
            <div class="card">
                <div class="header">

                    <div class="profile">
                        <img src="{{user.avatar}}" alt="{{user.nickname}}">
                        <span>{{user.nickname}}</span>
                    </div>
                    <button class=" button">Detalhes</button>
                </div>
                <div class="thumbnail">
                    <img src="{{thumbnail}}" alt="{{title}}">
                </div>
                <div class="description">

                    <h3>{{title}}</h3>
                    <span><i class="fa fa-users"></i> {{members.length}} pessoas confirmadas</span><br>
                    <span><i class="fa fa-map-marker"></i> {{address}}</span><br>
                    <span><i class="fa fa-calendar"></i> {{date}} às {{hour}}</span>
                </div>
                <div class="buttonGroup">
                    <form action="/backend/participate" method="POST">
                        <input type="hidden" name="event" value="{{id}}">
                        <button class="participate" type="submit"><i class="fa fa-user-plus"></i> Participar</button>
                        <button class="share"><i class="fa fa-share-alt"></i> Compartilhar</button>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</main>